name: Ejecutar Pruebas y Reporte

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar el repositorio
      uses: actions/checkout@v4

    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Instalar dependencias
      run: npm install

    - name: Ejecutar pruebas con cobertura y generar HTML
      run: npm test

    - name: Subir test-report.html
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: test-report.html

    - name: Subir cobertura lcov
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage/lcov-report/
